body {
    background-color: #000;
    color: #fff;
    font-family: 'Monaco', monospace ;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    text-align: center;
    font-family: 'Jazz LET', monospace;
    padding: 10px 0;
    font-size: 1.3em;
    color: #aaa;
    margin-top: auto; /* Push footer to bottom */
    width: 100%; /* Ensure footer takes full width */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background for footer */
    padding: 15px 0; /* Add padding to the top and bottom */
}

.container {
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.ascii-container {
    line-height: 1;
    color: #ff073a;
    font-size: 10px;
    text-align: center;
}

nav {
    margin: 2rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.9rem;
    transition: color 0.3s, text-shadow 0.3s;
}

nav a:hover {
    color: #ff073a;
    text-shadow: 0 0 10px #ff073a;
}

.spotify-card {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    width: 350px;
    height: 69px;
    padding: 30px;
    margin: 20px auto;
}

.last-played {
    color: #ff073a;
    font-size: 0.9em;
    margin-bottom: 10px;
    font-family: 'Courier New', monospace;
}

.track-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.track-image {
    width: 60px;
    height: 60px;
    border-radius: 4px;
}

.track-details {
    flex-grow: 1;
}

.track-name {
    color: #fff;
    font-size: 1.2em;
    margin: 0;
}

.track-meta {
    color: #666;
    font-size: 0.9em;
    margin: 5px 0;
}
